* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: CircularSpotifyText-Medium;
    src: url(../font/CircularSpotifyText-Medium.otf);
}

body {
    font-family: CircularSpotifyText-Medium;
}

.general-container {
    display: flex;
}

.general-container nav {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: black;

}

.main-container {
    flex-grow: 1;
    max-width: calc(100% - 230px);
}

/* Navbar Upgrade */

.navbar-upgrade {
    background-color: rgba(0, 0, 0, 0.4);
    width: calc(100% - 230px);
    height: 90px;
    position: fixed;
    z-index: 99;
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-upgrade a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 15px 50px;
    border-radius: 25px;
    transition: ease;
}

.navbar-upgrade a:hover {
    transform: scale(1.1);
}

/* End Navbar upgrade */

main {
    background-color: #141922;
    padding-bottom: 20px;
    overflow-y: scroll;
    height: calc(100vh - 90px);
}

/* Navbar */

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin-bottom: 30px;
    margin-top: 30px;
}

#mini-logo {
    width: 30px;
    display: none;
}

nav img {
    width: 150px;
}

.navbar-container {
    padding-left: 30px;
}

.home-search-library {
    position: relative;
}

.home-search-library ul {
    list-style-type: none;
}

.home-search-library ul li {
    color: #a3a3a3;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.home-search-library ul li:nth-of-type(3) {
    margin-bottom: 30px;
}

.home-search-library img {
    width: 25px;
    margin-right: 10px;
    filter: invert(69%) sepia(2%) saturate(22%) hue-rotate(342deg) brightness(95%) contrast(84%);
}

#left-divider {
    height: 25px;
    border-left: 2px solid #bdff30;
    position: absolute;
    right: 227px;
}

.home-search-library ul li:hover {
    color: white;
    cursor: pointer;
}

.home-search-library ul li:hover img {
    filter: invert(0);
}

.play-list {
    color: #a3a3a3;
    font-size: 14px;
    margin-bottom: 10px;
}

.create-playlist {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.create-playlist:hover #create-list {
    color: white;
    cursor: pointer;
}

#playlist-container-name {
    overflow-y: auto;
    height: 150px;
}

.create-playlist:hover #plus {
    background-color: white;
}

#plus {
    display: inline;
    color: black;
    padding: 6px 10px;
    font-size: 24px;
    background-color: #a3a3a3;
}

#plus .fa-solid {
    position: relative;
    bottom: -2px;
}

#create-list {
    color: #a3a3a3;
    display: flex;
    align-items: center;
}

.playlist-name {
    color: #a3a3a3;
    margin-bottom: 15px;
    font-size: 14px;
}

.playlist-name:hover {
    color: white;
    cursor: pointer;
}

.navbar-container-bottom {
    color: #a3a3a3;
    padding-left: 30px;
    padding-right: 30px;
}

.app-install {
    font-size: 12px;
}

.app-install .fa-solid {
    padding: 1px 3px;
    border: 1px solid #a3a3a3;
    border-radius: 50%;
    font-size: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.app-install-divider {

    border-bottom: 1px solid #a3a3a3;
    margin-bottom: 10px;

}

.navbar-container-bottom img {
    width: 25px;
    margin-right: 10px;
    background-color: #808080;
    border-radius: 50%;
}

.navbar-container-bottom span {
    color: white;
}

.navbar-container-bottom #app-install {
    color: #a3a3a3;
}

.navbar-container-bottom #app-install:hover {
    color: white;
    cursor: pointer;
}

.app-install:hover {
    color: white;
}

.navbar-container-bottom img,
.navbar-container-bottom .name-user-navbar {
    vertical-align: middle;
}

.user-section {
    margin-bottom: 10px;
}

/* Fine Navbar */

/* Subtitle menu */

.subtitle-menu {
    padding-top: 110px;
}

.subtitle-menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.subtitle-menu ul li {
    list-style-type: none;
    font-size: 14px;
}

.subtitle-menu ul li a {
    color: #86898d;
    text-decoration: none;
    transition: ease;
}

.subtitle-menu ul li a:hover {
    color: white;
    cursor: pointer;
}

.underline-green {
    margin: auto;
    width: 30px;
    border-bottom: 2px solid #bdff30;
}

/* End subtitle menu */

/* Main Section */

.main-block-section {
    margin-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.recently-played {
    color: white;
    font-size: 26px;
    margin-bottom: 35px;
}

/* Streaming block */

.streaming-block-flex {
    display: flex;
    gap: 15px;
}

.streaming-block {
    width: calc(100% / 6 - 15px);
    margin-bottom: 50px;
}

.streaming-overlay-container {
    position: relative;
}

.streaming-overlay {
    width: 100%;
    height: calc(100% - 26px);
    background-color: rgba(0, 0, 0, 0.4);

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

.streaming-overlay #overlay-play {
    color: white;
    font-size: 65px;
}

.streaming-overlay-container:hover .streaming-overlay {
    display: flex;
    cursor: pointer;
}

.streaming-block img {
    object-fit: cover;
    width: 100%;
    margin-bottom: 20px;
}

.streaming-block .song-title,
.streaming-block .song-subtitle {
    text-align: center;
}

.song-title {
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.streaming-block .song-subtitle {
    color: #86898d;
    font-size: 14px;
}

/* End Streaming block */

/* Suggested for you */

.recently-played-subtitle {
    color: #86898d;
    font-size: 14px;
    margin-bottom: 30px;
}

.streaming-block-flex-second .recently-played {
    margin-bottom: 10px;
}

.streaming-block-second-flex {
    display: flex;
    gap: 15px
}

.streaming-block-second {

    width: calc(100% / 6 - 15px);

}

.streaming-block-second img {
    object-fit: cover;
    width: 100%;
    margin-bottom: 20px;
}

.streaming-block-second-flex .song-title {
    margin-bottom: 40px;
}

/* End suggested for you */

/* Popular Artists */

.popular-artists {
    border-radius: 50%;
}

/* End Popular Artists */

/* End Main Section */

/* Media Player */

.media-player {
    height: 90px;
    width: 100%;
    background-color: #282828;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.media-player-section-left {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 100%;
    padding-left: 20px;

    color: #a3a3a3;
}

.media-player-section-left img {
    width: 4vw;
}

.media-player-title {
    color: white;
}

.media-player-subtitle {
    font-size: 12px;
}

.media-player-subtitle:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.fa-regular.fa-heart {
    margin-left: 40px;
    margin-right: 15px;
}

.fa-regular.fa-heart:hover,
.fa-regular.fa-folder:hover {
    color: white;
    cursor: pointer;
}

.media-player-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.fa-regular.fa-circle-play {
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.media-player-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.media-timer-number {
    color: white;
    font-size: 10px;
}

.media-time {
    width: 20vw;
    height: 4px;
    border-radius: 5px;
    background-color: #5b5b5b;
    position: relative;
}

.media-timer {
    width: 8vw;
    height: 4px;
    border-radius: 5px;
    background-color: #c4c4c4;

}

.media-timer-knob {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;

    position: absolute;
    bottom: -4px;
    left: 145px;

    display: none;
}

.media-time:hover .media-timer {
    background-color: #bdff30;
}

.media-time:hover .media-timer-knob {
    display: block;
}


.media-player-section-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.media-player-right-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 14px;
}

.media-player-volume {
    width: 6vw;
    height: 4px;
    border-radius: 5px;
    background-color: #5b5b5b;
    margin-right: 30px;
    position: relative;
}

.media-player-volume-low {
    width: 2vw;
    height: 4px;
    border-radius: 5px;
    background-color: #c4c4c4;

}

.media-player-volume-knob {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: white;

    position: absolute;
    bottom: -4px;
    left: 30px;

    display: none;
}

.media-player-volume:hover .media-player-volume-low {
    background-color: #bdff30;
}

.media-player-volume:hover .media-player-volume-knob {
    display: block;
}


/* End Media Player */

/* Responsive */

@media screen and (max-width: 992px) {

    .streaming-block {
        width: calc(100% / 4 - 15px);
    }

    .streaming-block-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .streaming-block-second {

        width: calc(100% / 4 - 15px);

    }

    .subtitle-menu ul li {
        font-size: 14px;
    }

    .subtitle-menu ul {
        flex-wrap: wrap;
    }

    .media-player-volume-knob {
        left: 10px;
    }

    .media-timer-knob {
        left: 75px;
    }


}

@media screen and (max-width: 768px) {

    .streaming-block {
        width: calc(100% / 2 - 15px);
    }

    .streaming-block-second {

        width: calc(100% / 2 - 15px);

    }

    .subtitle-menu ul li {
        font-size: 14px;
    }

    .streaming-block {
        margin-bottom: 0px;
    }

    .media-player-left-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    .fa-regular.fa-heart {
        margin-left: 0px;
        margin-right: 0px;
    }

    .media-player-volume-knob {
        left: 10px;
    }

    .media-timer-knob {
        left: 55px;
    }


}

@media screen and (max-width: 576px) {

    .general-container nav {
        width: 50px;
    }

    .subtitle-menu ul li {
        font-size: 14px;
    }

    main {
        width: calc(100% + 180px);
    }

    .navbar-upgrade {
        width: calc(100% - 50px);
    }

    .navbar-container {
        padding: 0px 10px;
    }

    #left-divider {
        display: none;
    }

    .logo img {
        display: none;
    }

    #mini-logo {
        display: block;
    }

    .home-search-library span {
        display: none;
    }

    .home-search-library img {
        margin-right: 0px;
        margin: auto;
    }

    .play-list-container {
        display: none;
    }

    .navbar-container-bottom {
        padding-left: 10px;
        padding-right: 10px;
    }

    .app-install-divider {
        display: none;
    }

    .app-install {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app-install .fa-solid {
        margin-right: 0px;
    }

    .navbar-container-bottom span {
        display: none;
    }

    .navbar-container-bottom img {
        margin-right: 0px;
    }

    .user-section {
        text-align: center;
    }

    .media-player-left-icons {
        margin-left: 10px;
        margin-right: 20px;
    }

    .media-player-section-center {
        margin-right: 20px;
    }

    .media-player-volume-knob {
        left: 10px;
    }

    .media-timer-knob {
        left: 40px;
    }

}

/* End Responsive */